trigger: none

pool:
  name: 'Agent'

variables:
  - name: workingDirectory
    value: '$(System.DefaultWorkingDirectory)'
  - group: 'TFstate-variables'

stages:
  - stage: Validate
    displayName: 'Terraform Validate'
    jobs:
      - job: Validate
        displayName: 'Validate Terraform'
        steps:
          - task: AzureCLI@2
            displayName: 'Terraform Init'
            inputs:
              azureSubscription: 'terraformdeployement'
              scriptType: 'ps'
              scriptLocation: 'inlineScript'
              inlineScript: |
                cd $(workingDirectory)
                terraform init `
                  -backend-config="resource_group_name=$(tfstate_resource_group_name)" `
                  -backend-config="storage_account_name=$(tfstate_storage_account_name)" `
                  -backend-config="container_name=$(tfstate_container_name)" `
                  -backend-config="key=$(tfstate_key)"

          - task: AzureCLI@2
            displayName: 'Terraform Validate'
            inputs:
              azureSubscription: 'terraformdeployement'
              scriptType: 'ps'
              scriptLocation: 'inlineScript'
              inlineScript: |
                cd $(workingDirectory)
                terraform validate

  - stage: Plan
    displayName: 'Terraform Plan'
    dependsOn: Validate
    condition: succeeded()
    jobs:
      - job: Plan
        displayName: 'Plan Infrastructure'
        steps:
          - task: AzureCLI@2
            displayName: 'Terraform Init'
            inputs:
              azureSubscription: 'terraformdeployement'
              scriptType: 'ps'
              scriptLocation: 'inlineScript'
              inlineScript: |
                cd $(workingDirectory)
                terraform init `
                  -backend-config="resource_group_name=$(tfstate_resource_group_name)" `
                  -backend-config="storage_account_name=$(tfstate_storage_account_name)" `
                  -backend-config="container_name=$(tfstate_container_name)" `
                  -backend-config="key=$(tfstate_key)"

          - task: AzureCLI@2
            displayName: 'Terraform Plan'
            inputs:
              azureSubscription: 'terraformdeployement'
              scriptType: 'ps'
              scriptLocation: 'inlineScript'
              inlineScript: |
                cd $(workingDirectory)
                terraform plan -out=tfplan

          - task: PublishPipelineArtifact@1
            displayName: 'Publish Plan'
            inputs:
              targetPath: '$(workingDirectory)/tfplan'
              artifact: 'terraform-plan'
              publishLocation: 'pipeline'

  - stage: Apply
    displayName: 'Terraform Apply'
    dependsOn: Plan
    condition: succeeded()
    jobs:
      - deployment: Apply
        displayName: 'Apply Infrastructure'
        environment: 'Production'
        strategy:
          runOnce:
            deploy:
              steps:
                - checkout: self

                - task: DownloadPipelineArtifact@2
                  displayName: 'Download Plan'
                  inputs:
                    artifact: 'terraform-plan'
                    path: $(workingDirectory)

                - task: AzureCLI@2
                  displayName: 'Terraform Init'
                  inputs:
                    azureSubscription: 'terraformdeployement'
                    scriptType: 'ps'
                    scriptLocation: 'inlineScript'
                    inlineScript: |
                      cd $(workingDirectory)
                      terraform init `
                        -backend-config="resource_group_name=$(tfstate_resource_group_name)" `
                        -backend-config="storage_account_name=$(tfstate_storage_account_name)" `
                        -backend-config="container_name=$(tfstate_container_name)" `
                        -backend-config="key=$(tfstate_key)"

                - task: AzureCLI@2
                  displayName: 'Terraform Apply'
                  inputs:
                    azureSubscription: 'terraformdeployement'
                    scriptType: 'ps'
                    scriptLocation: 'inlineScript'
                    inlineScript: |
                      cd $(workingDirectory)
                      terraform apply -auto-approve tfplan

